<div class="form-group for-select">
    <label for="activeTheme">Spellchecker Dictionary</label>
    <span class="gh-select" data-select-text="{{selectedTheme.label}}" tabindex="0">
        {{gh-select-native
            id="selectedDictionary"
            name="selectedDictionary"
            content=availableDictionaries
            optionValuePath="key"
            optionLabelPath="label"
            selection=selectedDictionary
            action="setDictionary"
        }}
    </span>
    <p>Select a dictionary for the spellchecker. The dictionary must be installed on your system.</p>
</div>
