<div class="ember-power-select-search">
    {{input key-up="keyup" type="search" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" role="combobox" placeholder="Search" value=searchterm}}
    <button {{action "search"}} class="gh-nav-search-button"><i class="icon-search"></i><span class="sr-only">Search</span></button>
</div>