<webview src="{{blog.url}}" class="host {{if isInstanceLoaded "loaded"}}" allowpopups disablewebsecurity preload="../main/preload.js"></webview>

<div class="gh-app">
        <div class="gh-loading-side"></div>
        <div class="gh-loading-content">
            <div class="gh-loading-spinner"></div>
        </div>
</div>
