/* Loading state */
.gh-loading-side {
    position: relative;
    flex: 0 0 235px;
    display: flex;
    flex-direction: column;
    min-width: 0;
    border-right: #f5f7f8 1px solid;
    background: #f5f7f8;
    transform: translateX(0);
}

.gh-loading-content {
    position: relative;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}

.gh-loading-spinner {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin: -2px 0;
    width: 50px;
    height: 50px;
    border: rgba(0,0,0,0.1) solid 1px;
    border-radius: 100px;
    animation: spin 1s linear infinite;
}

.gh-loading-spinner:before {
    content: "";
    display: block;
    margin-top: 7px;
    width: 7px;
    height: 7px;
    background: #4C5156;
    border-radius: 100px;
    z-index: 10;
}
