# compiled output
/dist
/tmp
/electron-builds

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
.DS_Store
public/contributors.json

# coverage
coverage.lcov
coverage.json

# C++ stuff
browse.VC.db
.vscode