/*
 * This file will be injected into Ghost Instances on all platforms
 */

/* hide blog icon, as this is displayed in the Electron Switcher sidebar */
.gh-nav-menu-icon {
    display: none;
}

a {
    animation-duration: 0.001s;
    animation-name: linkInserted;
}

/* Little hack that allows us to detect inserted links */
@keyframes linkInserted {  
	from { opacity: 0.99; }
	to { opacity: 1; }  
}
