/* Add blog
/* ---------------------------------------------------------- */

.gh-edit-blog {
    text-align: center;
}

.gh-edit-blog {
    position: relative;
    margin: 30px auto;
    padding: 40px;
    max-width: 500px;
    width: 100%;
    border: #dae1e3 1px solid;
    background: #f8fbfd;
    border-radius: 5px;
    text-align: left;
    height: 380px;
    align-self: center;
}

.gh-edit-blog .form-group {
    margin-bottom: 1.5rem;
}

.gh-edit-blog .btn {
    margin: 0;
    padding: 12px;
}

.gh-edit-blog input {
    margin-bottom: 1.5rem;
}

.gh-edit-blog .gh-flow-content-wrap:first {
    padding-bottom: 0;
}
