.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.center-host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 20px);
    width: 100%;
    background-color: rgba(255, 255, 255, .15);
}

.mac .center-host {
    height: 100%;
}