.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.center-host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #fff;
}



.mac .center-host {
    background-color: rgba(255, 255, 255, .15);
}

.maximized .win {
    border: 0px;
}

.maximized .win .content {
    width: 100%;
}

.win {
    border: 1px solid #383838;
    background-color: #383838;
}

.win .content {
    width: calc(100% - 2px);
}

.win.window-content {
    margin-top: 31px;
}