/* Edit blog
/* ---------------------------------------------------------- */

.gh-edit-blog {
    position: relative;
    padding: 40px;
    max-width: 500px;
    width: 100%;
    border: #dae1e3 1px solid;
    background: #f8fbfd;
    border-radius: 5px;
    text-align: left;
    height: 380px;
    align-self: center;
    text-align: center;
}

.gh-edit-blog.has-warning {
    height: 420px;
}

.gh-edit-blog .form-group {
    margin-bottom: 1.5rem;
}

.gh-edit-blog .btn {
    margin: 0;
    padding: 12px;
}

.gh-edit-blog input {
    margin-bottom: 1.5rem;
}

.gh-edit-blog .gh-flow-content-wrap:first {
    padding-bottom: 0;
}

.gh-edit-blog.basic-auth {
    height: 580px;
}

.basic-auth-username {
    margin-top: 10px;
}

.gh-edit-blog .warning {
    font-size: 0.8em;
    color: #e25440;
}