.instance-host {
    flex-grow: 1;
    width: 100%;
    position: relative;
    display: none;
    visibility: collapse;
}

.instance-host webview {
    z-index: 10;
}

.instance-host.selected {
    display: block;
    visibility: visible;
}

.instance-host webview.host {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s ease-in;
}

.instance-host webview.host.loaded {
    opacity: 1;
}

@keyframes fadeIn{
    from {
        opacity: 0.0
    }
    to {
        opacity: 1.0
    }
}