/* Preferences
/* ---------------------------------------------------------- */

.gh-preferences {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    -webkit-user-select: none;
}

.gh-preferences header {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 65px;
    border-bottom: #dfe1e3 1px solid;
}

.gh-preferences > label {
    -webkit-user-select: none;
}

.gh-preferences .view-content {
    padding: 20px;
}

.gh-preferences header h2 {
    white-space: nowrap;
    font-size: 2rem;
    line-height: 1.2em;
    font-weight: 400;
    margin: 0;
}

.gh-preferences .text p {
    font-size: 1.3rem;
}

.gh-preferences .contributor:after {
  content: ", ";
}

.gh-preferences .contributor:last-child:after {
  content: "";
}

.gh-preferences input#zoomFactor {
    width: 25em;
}

.gh-range-confirm {
    margin-right: -2px;
    margin-left: 10px;
    width: 16px;
    height: 16px;
    background: var(--green);
    border-radius: 2px;
    color: #fff;
    text-align: center;
    font-size: 10px;
    line-height: 8px;
    transition: background 0.1s linear;
}

.gh-range-confirm:hover,
.gh-range-confirm:focus {
    background: color(var(--green) lightness(-10%));
}